form {
    h2 {
        font-size: 30px;
        font-weight: normal;
    }
    .form-group {
        margin-top: 30px;
        input {
            width: 100%;
            font-size: 18px;
        }
    }
    .button-block {
        margin-top: 30px;
        // margin: 0 auto;
        button {
            text-align: center;
            padding: 10px 40px;
        }
    }
}