<form (ngSubmit)="signIn()" [formGroup]="loginForm">
    <h2>Вход в систему</h2>
    <div class="form-group">
        <mat-form-field class="w100">
            <mat-label>Email</mat-label>
            <input id="email" formControlName="email" type="text" matInput>
        </mat-form-field>
        <span class="invalid" *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
            <span class="invalid" *ngIf="loginForm.get('email').errors['required']">
                Email не должен быть пустым
            </span>
            <span class="invalid" *ngIf="loginForm.get('email').errors['email']">
                Некорректный email
            </span>
        </span>
    </div>
    <!-- Password -->
    <div class="form-group">
        <mat-form-field class="w100">
            <mat-label>Пароль</mat-label>
            <input id="password" type="password" formControlName="password" matInput> 
        </mat-form-field>
        <!-- <span class="p-float-label"> -->
            <!-- <label for="float-input">Пароль</label> -->
        <!-- </span> -->
        <span *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
            <span class="invalid" *ngIf="loginForm.get('password').errors['required']">
                Пароль не должен быть пустым
            </span>
            <span class="invalid" *ngIf="loginForm.get('password').errors['minlength']">
                Пароль должен быть не менее 6 символов
            </span>
        </span>
    </div>
    <div class="button-block">
        <button
            class="orange-button"
            type="submit"
            [disabled]="loginForm.invalid || loginForm.disabled"
        >
            Войти
        </button>
    </div>
</form>