<div class="app-container">
    <nav class="flex flex-col">
        <h1 class="main-title">ФОП Гирик</h1>
        <ul class="links">
            <li routerLinkActive="active" *ngFor="let link of links">
                <a [routerLink]="link.url">
                    <div class="link-container">
                        {{link.name}}
                    </div>
                </a>
            </li>
        </ul>
        <a class="logout" (click)="logout($event)">Выйти</a>
    </nav>
    <main>
        <app-loader *ngIf="loaderService.isLoadingLocal"></app-loader>
        <router-outlet></router-outlet>
    </main>
</div>