<div class="flex flex-row h100">
    <nav class="flex flex-col">
        <h1 class="main-title">ФОП Гирик</h1>
        <ul class="links">
            <li routerLinkActive="active" *ngFor="let link of links">
                <div class="link-container">
                    <a [routerLink]="link.url">{{link.name}}</a>
                </div>
            </li>
        </ul>
        <a class="logout" (click)="logout($event)">Выйти</a>
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>