<div class="section-header">
    <h2>Категории</h2>
    <button class="orange-button">Добавить категорию</button>
</div>
<div class="row">
    <div class="item">
        <a href="#" style="background: url('/assets/img/nofoto.png') center no-repeat">
            <h3>Профильные трубы</h3>
        </a>
    </div>
    <div class="item">
        <a href="#" style="background: url('/assets/img/2.jpeg') center no-repeat">
            <h3>Арматура</h3>
        </a>
    </div>
    <div class="item">
        <a href="#" style="background: url('/assets/img/1.png') center no-repeat">
            <h3>Арматура</h3>
        </a>
    </div>
</div>